<center>
  <a href="http://creativecommons.org/licenses/by/4.0/" rel="license" target="_blank" rel="noopener noreferrer">
    <svg id="cc-license" xmlns="http://www.w3.org/2000/svg" width="120" height="42">
      <path d="M3.14.508l113.354.2c1.584 0 3-.235 3 3.16l-.14 37.33H.28V3.73C.28 2.056.442.508 3.14.508z" fill="#aab2ab"/>
      <path d="M117.752 0H2.247A2.25 2.25 0 000 2.246v39.247A.51.51 0 00.508 42h118.985a.51.51 0 00.508-.507V2.246A2.25 2.25 0 00117.752 0zM2.247 1.015h115.505c.68 0 1.233.552 1.233 1.23v27.276H36.16c-3.026 5.47-8.856 9.186-15.546 9.186s-12.522-3.71-15.546-9.186H1.015V2.246c0-.68.553-1.23 1.232-1.23z"/>
      <path d="M73.8 32.747c.315 0 .604.028.865.083s.482.147.67.274a1.27 1.27 0 01.432.505c.102.2.153.47.153.78 0 .334-.076.6-.228.834s-.377.405-.674.547c.4.117.715.323.917.617s.303.648.303 1.063c0 .334-.065.623-.195.868a1.7 1.7 0 01-.525.598c-.22.155-.472.27-.753.344a3.38 3.38 0 01-.87.112H70.69V32.75h3.122zm-.186 2.678c.26 0 .474-.062.64-.185s.25-.323.25-.6a.78.78 0 00-.083-.38c-.055-.1-.13-.176-.223-.232s-.2-.094-.32-.115a2.19 2.19 0 00-.376-.032h-1.365v1.545h1.476zm.085 2.8c.143 0 .28-.014.4-.042a1.04 1.04 0 00.345-.139.69.69 0 00.237-.265.895.895 0 00.088-.426c0-.34-.096-.582-.288-.728s-.446-.217-.762-.217h-1.6v1.817H73.7zm2.795-5.488h1.633l1.55 2.615 1.54-2.615h1.624l-2.458 4.08v2.54h-1.46V36.8l-2.43-4.044zm-42.25-13.13c.005 7.53-6.097 13.637-13.627 13.642S7 27.152 6.985 19.623v-.017C6.98 12.076 13.08 5.97 20.6 5.965A13.64 13.64 0 0134.254 19.6v.016z" fill="#fff"/>
      <path d="M31.703 8.502c3.024 3.023 4.536 6.726 4.536 11.105s-1.486 8.043-4.457 10.988c-3.154 3.102-6.88 4.653-11.18 4.653-4.25 0-7.91-1.538-10.987-4.614S5 23.882 5 19.606 6.537 11.63 9.613 8.502C12.6 5.477 16.273 3.965 20.6 3.965c4.38 0 8.08 1.512 11.103 4.536zM11.65 10.535C9.092 13.117 7.815 16.14 7.815 19.6s1.265 6.467 3.795 8.995 5.54 3.805 9.036 3.805 6.532-1.277 9.114-3.832c2.45-2.374 3.678-5.358 3.678-8.957 0-3.572-1.246-6.604-3.737-9.094S24.193 6.78 20.646 6.78 14.1 8.032 11.65 10.535zm6.727 7.55c-.39-.852-.975-1.278-1.755-1.278-1.38 0-2.068.928-2.068 2.784s.69 2.783 2.068 2.783c.9 0 1.56-.452 1.95-1.357l1.91 1.017c-.91 1.618-2.277 2.427-4.1 2.427-1.405 0-2.53-.43-3.376-1.292s-1.27-2.05-1.27-3.564c0-1.488.436-2.67 1.308-3.543s1.958-1.312 3.26-1.312c1.926 0 3.305.76 4.14 2.275l-2.068 1.06zm9 0c-.39-.852-.964-1.278-1.72-1.278-1.406 0-2.1.928-2.1 2.784s.704 2.783 2.1 2.783c.912 0 1.55-.452 1.915-1.357l1.954 1.017c-.91 1.618-2.274 2.427-4.093 2.427-1.403 0-2.527-.43-3.37-1.292s-1.266-2.05-1.266-3.564c0-1.488.43-2.67 1.286-3.543s1.948-1.312 3.273-1.312c1.923 0 3.3.76 4.13 2.275l-2.11 1.06z"/>
      <g transform="matrix(.99377 0 0 .99367 -177.693 0)">
        <circle cx="255.551" cy="15.313" r="10.807" fill="#fff"/>
        <path d="M258.678 12.187a.754.754 0 00-.753-.754h-4.773a.754.754 0 00-.753.754v4.773h1.33v5.652h3.617V16.96h1.33v-4.773z"/>
        <circle cx="255.539" cy="9.172" r="1.633"/>
        <path d="M255.524 3.407c-3.232 0-5.97 1.128-8.208 3.384-2.298 2.334-3.446 5.096-3.446 8.285s1.148 5.932 3.446 8.227 5.034 3.442 8.208 3.442c3.213 0 5.998-1.156 8.354-3.47 2.22-2.197 3.33-4.93 3.33-8.197s-1.13-6.03-3.388-8.285-5.024-3.384-8.296-3.384zm.03 2.1c2.648 0 4.897.934 6.747 2.8 1.87 1.847 2.804 4.103 2.804 6.768 0 2.684-.915 4.91-2.745 6.68-1.93 1.906-4.196 2.86-6.806 2.86s-4.86-.943-6.747-2.83-2.833-4.123-2.833-6.71.954-4.842 2.862-6.768c1.83-1.867 4.07-2.8 6.718-2.8z" fill-rule="evenodd"/>
      </g>
    </svg>
  </a>
  <p>
    <a href="https://h5p.org/presentation">Learning Hub Doku für Kursersteller*Innen</a> von <a href="https://https://www.zmf.bayern/" property="cc:attributionName" rel="cc:attributionURL">ZMF</a> ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0 International Lizenz</a>.
  </p>


    <!-- Place this tag where you want the button to render.
    <a class="github-button" href="https://github.com/matcornic/hugo-theme-learn/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download matcornic/hugo-theme-learn on GitHub">Download</a>-->

    <!-- Place this tag where you want the button to render.
    <a class="github-button" href="https://github.com/matcornic/hugo-theme-learn" data-icon="octicon-star" data-show-count="true" aria-label="Star matcornic/hugo-theme-learn on GitHub">Star</a>-->

    <!-- Place this tag where you want the button to render.
    <a class="github-button" href="https://github.com/matcornic/hugo-theme-learn/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork matcornic/hugo-theme-learn on GitHub">Fork</a>-->

    <!-- <p>Built with <a href="https://github.com/matcornic/hugo-theme-learn"><i class="fas fa-heart"></i></a> from <a href="https://getgrav.org">Grav</a> and <a href="https://gohugo.io/">Hugo</a></p> -->
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
